# Use Docker-based container (instead of OpenVZ)
sudo: false

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/launchers

language: scala
scala:
  - 2.12.2
  - 2.11.11
jdk:
  - oraclejdk8 # scalaz 7.3 does not support Java 7

script:
  - git config core.whitespace tab-in-indent,trailing-space,blank-at-eol
  - git show --oneline --check
  - sbt ++$TRAVIS_SCALA_VERSION -J-Xmx3784m check-gen-type-classes "project $TEST_PROJECT" test:compile
  - sbt ++$TRAVIS_SCALA_VERSION "project $TEST_PROJECT" test "project /" $(if [[ "${TEST_PROJECT}" == "rootJVM" ]]; then echo "publishLocal"; fi)
  # Tricks to avoid unnecessary cache updates
  - find $HOME/.sbt -name "*.lock" | xargs rm
  - find $HOME/.ivy2 -name "ivydata-*.properties" | xargs rm

env:
  matrix:
  - TEST_PROJECT="rootJVM"
  - TEST_PROJECT="rootJS"

addons:
  apt:
    packages:
      - oracle-java8-installer

matrix:
  include:
  - scala: 2.13.0-M1
    jdk: oraclejdk8
    env: TEST_PROJECT="rootJVM"
  - scala: 2.13.0-M1
    jdk: oraclejdk8
    env: TEST_PROJECT="rootJS"
  - scala: 2.11.11
    jdk: oraclejdk8
    sudo: required
    before_install:
    - sudo apt-get -qq update
    - sudo sh -c "echo 'deb http://llvm.org/apt/precise/ llvm-toolchain-precise-3.7 main' >> /etc/apt/sources.list"
    - sudo sh -c "echo 'deb http://llvm.org/apt/precise/ llvm-toolchain-precise main' >> /etc/apt/sources.list"
    - wget -O - http://llvm.org/apt/llvm-snapshot.gpg.key | sudo apt-key add -
    - sudo add-apt-repository --yes ppa:ubuntu-toolchain-r/test
    - sudo apt-get -qq update
    - sudo apt-get install -y libgc-dev clang++-3.7 llvm-3.7 llvm-3.7-dev llvm-3.7-runtime llvm-3.7-tool libunwind7-dev
    # Install re2
    # https://github.com/scala-native/scala-native/commit/1d312519788534ff41477e4d7f758a6e7451be05#diff-354f30a63fb0907d4ad57269548329e3R28
    - sudo apt-get install -y make
    - export CXX=clang++-3.7
    - git clone https://code.googlesource.com/re2
    - pushd re2
    - git checkout 2017-03-01
    - make -j4 test
    - sudo make install prefix=/usr
    - make testinstall prefix=/usr
    - popd
    script:
    - ./sbt ++$TRAVIS_SCALA_VERSION nativeTest/run nativeTest/publishLocal
