# Use Docker-based container (instead of OpenVZ)
sudo: false

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/launchers

language: scala
scala:
  - 2.11.12
  - 2.10.7
jdk:
  - openjdk7

script:
  - git config core.whitespace tab-in-indent,trailing-space,blank-at-eol
  - git show --oneline --check
  - if [[ "${TRAVIS_JDK_VERSION}" == "openjdk7" ]]; then echo "-XX:MaxPermSize=512m" >> .jvmopts ; fi
  - sbt ++$TRAVIS_SCALA_VERSION -J-Xmx3784m checkGenTypeClasses "project $TEST_PROJECT" test:compile mimaReportBinaryIssues
  - sbt ++$TRAVIS_SCALA_VERSION "project $TEST_PROJECT" test "project /" $(if [[ "${TEST_PROJECT}" == "rootJVM" ]]; then echo "publishLocal"; fi)

before_cache:
  # Tricks to avoid unnecessary cache updates
  - find $HOME/.sbt -name "*.lock" | xargs rm
  - find $HOME/.ivy2 -name "ivydata-*.properties" | xargs rm

matrix:
  include:
    - scala: 2.12.6
      jdk: oraclejdk8
      env: TEST_PROJECT="rootJVM"
    - scala: 2.12.6
      jdk: oraclejdk8
      env: TEST_PROJECT="rootJS"
    - scala: 2.11.12
      jdk: oraclejdk8
      env: SCALA_NATIVE
      sudo: required
      before_install:
      - curl https://raw.githubusercontent.com/scala-native/scala-native/v0.3.6/bin/travis_setup.sh | bash -
      script:
      - ./sbt ++$TRAVIS_SCALA_VERSION nativeTest/run nativeTest/publishLocal
    - scala: 2.12.6
      jdk: oraclejdk9
      script:
      - ./sbt ++$TRAVIS_SCALA_VERSION -J-Xmx3784m checkGenTypeClasses rootJVM/test rootJS/test
    - scala: 2.13.0-M4-pre-20d3c21
      jdk: oraclejdk8
      script:
      - git clone -b v0.9.6 https://github.com/non/kind-projector.git
      - cd kind-projector
      - sbt "++$TRAVIS_SCALA_VERSION!" publishLocal
      - cd ..
      - sbt ++$TRAVIS_SCALA_VERSION -J-Xmx3784m checkGenTypeClasses "project testsJVM" test:compile
      - sbt ++$TRAVIS_SCALA_VERSION "project testsJVM" test

env:
  matrix:
  - TEST_PROJECT="rootJVM"
  - TEST_PROJECT="rootJS"

addons:
  apt:
    packages:
      - oracle-java8-installer
