# Use Docker-based container (instead of OpenVZ)
sudo: false

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/launchers

language: scala
scala:
  - 2.11.12
  - 2.10.7
jdk:
  - openjdk7

script:
  - git config core.whitespace tab-in-indent,trailing-space,blank-at-eol
  - git show --oneline --check
  - if [[ "${TRAVIS_JDK_VERSION}" == "openjdk7" ]]; then echo "-XX:MaxPermSize=512m" >> .jvmopts ; fi
  - if [[ "${JAVA_HOME}" != $(jdk_switcher home openjdk11) && "${TRAVIS_BRANCH}" == "series/7.2.x" && "${TRAVIS_EVENT_TYPE}" == "push" && "${TRAVIS_REPO_SLUG}" == "scalaz/scalaz" ]]; then export PUBLISH_SONATYPE=true; fi
  - sbt ++$TRAVIS_SCALA_VERSION -J-Xmx3784m checkGenTypeClasses "project $TEST_PROJECT" test:compile mimaReportBinaryIssues $(if [[ "${TEST_PROJECT}" == "rootJS" ]]; then echo "test:fastOptJS"; fi)
  # restart sbt for avoid OutOfMemoryError
  - sbt ++$TRAVIS_SCALA_VERSION "project $TEST_PROJECT" test $(if [[ "${PUBLISH_SONATYPE}" != "true" ]]; then echo "publishLocal"; fi)
  - if [[ "${PUBLISH_SONATYPE}" == "true" ]]; then sbt "++${TRAVIS_SCALA_VERSION}" setVersionUseDynver "project $TEST_PROJECT" publish ; fi

before_cache:
  # Tricks to avoid unnecessary cache updates
  - find $HOME/.sbt -name "*.lock" | xargs rm
  - find $HOME/.ivy2 -name "ivydata-*.properties" | xargs rm

matrix:
  include:
    - scala: 2.12.8
      jdk: oraclejdk8
      env: TEST_PROJECT="rootJVM"
    - scala: 2.12.8
      jdk: oraclejdk8
      env: TEST_PROJECT="rootJS"
    - scala: 2.11.12
      jdk: oraclejdk8
      env: SCALA_NATIVE
      sudo: required
      before_install:
      - curl https://raw.githubusercontent.com/scala-native/scala-native/v0.3.8/scripts/travis_setup.sh | bash -
      script:
      - ./sbt ++$TRAVIS_SCALA_VERSION nativeTest/run
      - if [[ "${TRAVIS_BRANCH}" == "series/7.2.x" && "${TRAVIS_EVENT_TYPE}" == "push" && "${TRAVIS_REPO_SLUG}" == "scalaz/scalaz" ]]; then ./sbt "++${TRAVIS_SCALA_VERSION}" setVersionUseDynver rootNative/publish ; fi
    - scala: 2.12.8
      jdk: openjdk11
      env: TEST_PROJECT=""
      script:
      - ./sbt ++$TRAVIS_SCALA_VERSION -J-Xmx3784m checkGenTypeClasses rootJVM/test rootJS/test
    - scala: 2.13.0-RC2
      jdk: oraclejdk8
      env: TEST_PROJECT="rootJVM_213"
    - scala: 2.13.0-RC2
      jdk: oraclejdk8
      env: TEST_PROJECT="rootJS_213"

env:
  matrix:
  - TEST_PROJECT="rootJVM"
  - TEST_PROJECT="rootJS"
  global:
  - secure: f9sDrym/MfYK1hBBSaILMxn4VCfyzJREqpuGXhEggrdZpYTNjp8GMXrqKfla3AwVAuWCveXk9u+skUYqKQ6LTG7RdQS5PzA2I9kx8afNRA5nxMmVQjuCKYM0/aF4egY5i98tGXG0NiMO3t72XuxtR+OeWLysUVB8hoNghpOOVMw=
  - secure: PPURD7/Lj6+kqE342Ty99XhO5SR7GlrakSbZeKm5RKXS2Q5yFrexdf+UcS3KUbq6LaWnH75q+UgC2mcRMIspRmz37CtVXkGbJYp3VBYFJbmIga+w0bBVvlSw8QWIGhdz3xnOOuiEYpgeOKnAzShr59HYKG2O90jlMdt4cPRUrwg=
