name: scala-steward
on:
  push:
    branches: [ master ]
  schedule:
  - cron: '0 6 * * *'
  workflow_dispatch:
jobs:
  scala-steward:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    if: ${{ github.repository_owner == 'scalaz' }}
    steps:
    - name: Generate token
      id: generate_token
      uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
      with:
        app-id: 89659
        private-key: ${{ secrets.SCALAZ_BOT_KEY }}
    - uses: sbt/setup-sbt@3e125ece5c3e5248e18da9ed8d2cce3d335ec8dd # v1.1.14
    - name: Launch Scala Steward
      uses: scala-steward-org/scala-steward-action@53d486a68877f4a6d1e110e8058fe21e593db356 # v2.77.0
      with:
        github-token: ${{ steps.generate_token.outputs.token }}
        author-email: "74843977+scalaz-bot[bot]@users.noreply.github.com"
        author-name: scalaz-bot[bot]
        branches: master,series/7.3.x,series/7.2.x
