name: scala-steward
on:
  push:
    branches: [ master ]
  schedule:
  - cron: '0 6 * * *'
  workflow_dispatch:
jobs:
  scala-steward:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
    - name: Generate token
      if: ${{ !github.event.repository.fork }}
      id: generate_token
      uses: tibdex/github-app-token@v1
      with:
        app_id: 89659
        private_key: ${{ secrets.SCALAZ_BOT_KEY }}
    - name: Launch Scala Steward
      if: ${{ !github.event.repository.fork }}
      uses: scala-steward-org/scala-steward-action@v2.13.3
      with:
        github-token: ${{ steps.generate_token.outputs.token }}
        author-email: "74843977+scalaz-bot[bot]@users.noreply.github.com"
        author-name: scalaz-bot[bot]
        scala-steward-version: 0.9.1-262-08e2048c-SNAPSHOT # https://oss.sonatype.org/content/repositories/snapshots/org/scala-steward/scala-steward-core_2.13/
