name: scala-steward
on:
  push:
    branches: [ master ]
  schedule:
  - cron: '0 6 * * *'
  workflow_dispatch:
jobs:
  scala-steward:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    if: ${{ github.repository_owner == 'scalaz' }}
    steps:
    - name: Generate token
      id: generate_token
      uses: tibdex/github-app-token@v2
      with:
        app_id: 89659
        private_key: ${{ secrets.SCALAZ_BOT_KEY }}
    - uses: sbt/setup-sbt@8a071aa780c993c7a204c785d04d3e8eb64ef272 # v1.1.0
    - name: Launch Scala Steward
      uses: scala-steward-org/scala-steward-action@v2.70.0
      with:
        github-token: ${{ steps.generate_token.outputs.token }}
        author-email: "74843977+scalaz-bot[bot]@users.noreply.github.com"
        author-name: scalaz-bot[bot]
        branches: master,series/7.3.x,series/7.2.x
